@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0px;
  font-family: "Roboto";
}

.container {
  background: #252b42;
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

.myText, .myH1, .myH2, .myH3, .myH4, .myH5, .myP {
  color: #ffffff;
  font-style: normal;
  margin: 0;
}

.myH1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
}

.myH2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.myH3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

.myH4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.myH5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.myP {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

.myButton {
  padding: 18px 38px;
  background: #2091f9;
  border-radius: 35px;
  color: #ffffff;
  height: 54px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.myText, .myH1, .myH2, .myH3, .myH4, .myH5, .myP {
  color: #ffffff;
  font-style: normal;
  margin: 0;
}

.myH1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
}

.myH2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.myH3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

.myH4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.myH5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.myP {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

.myInput {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 39px;
  padding: 19px 35px;
  height: 54px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

.myLink {
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.home {
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 47px;
  position: relative;
}

header div.logo {
  padding: 0px 10px;
}

header div.logo img {
  vertical-align: top;
}

header nav {
  padding: 17.5px 0px;
}

header nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 32px;
}

header nav ul li {
  padding: 0px 10px;
  margin-right: 21px;
  cursor: pointer;
}

header nav ul a.myLink {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

header .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 33px;
}

header .end .email-subscribe-container .myInput {
  border: none;
  margin-right: 12px;
  width: 273px;
}

header .end .email-subscribe-container .myButton {
  padding: 19px 38px;
  border: none;
  background-color: #ffffff;
  color: #2091f9;
}

header .end .login {
  display: none;
}

header .end .login .myButton {
  background-color: #ffffff;
  color: #2091f9;
  width: 117px;
  height: 52px;
}

header .end .hamberger {
  display: none;
}

@media (max-width: 1180px) {
  header {
    width: 950px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  header nav {
    position: absolute;
    top: 109px;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 10px);
    margin-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffffb5;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header nav ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  header nav ul a.myLink {
    color: #18171d;
  }
  header .nav-active {
    -webkit-transition: height 0.5s ease, padding 0.3s ease;
    transition: height 0.5s ease, padding 0.3s ease;
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 195px;
  }
  header .close_transition {
    -webkit-transition: height 0.5s ease, padding 0.3s ease;
    transition: height 0.5s ease, padding 0.3s ease;
  }
  header .end .hamberger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 16px;
    margin-left: 27.67px;
  }
  header .end .hamberger .line-1 {
    width: 26.67px;
    height: 3px;
    background-color: #ffffff;
  }
  header .end .hamberger .line-2 {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
  }
  header .end .hamberger .line-3 {
    width: 12px;
    height: 3px;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  header {
    width: 730px;
  }
  header .end {
    padding: 0px;
  }
}

@media (max-width: 767px) {
  header {
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
  }
  header .end .email-subscribe-container {
    display: none;
  }
  header .end .login {
    display: block;
  }
}

@media (max-width: 575px) {
  header {
    padding-left: 25px;
    padding-right: 22.66px;
    padding-top: 27px;
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header nav {
    width: calc(100% - 10px - 47.66px);
  }
  header div.logo {
    padding-right: 0;
    margin-right: 3px;
  }
  header .end {
    padding-left: 0;
  }
  header .end .login {
    display: block;
  }
}

@media (max-width: 418px) {
  header .end .login {
    display: none;
  }
}

.intro {
  text-align: center;
  margin-top: 148px;
}

.intro h1,
.intro h2 {
  margin-top: 27px;
  margin-bottom: 17px;
}

.intro div {
  width: 429px;
  margin: auto;
  margin-bottom: 90px;
}

.intro div h4 {
  margin: 0;
}

.intro .myButton {
  background-color: #ffffff;
  padding: 16px 0px;
  height: 65px;
  width: 236px;
}

.intro .myButton h3 {
  color: #2091f9;
  margin: 0;
}

@media (max-width: 575px) {
  .intro {
    margin-top: 107px;
  }
  .intro div {
    width: 298px;
    text-align: center;
    margin-bottom: 69px;
  }
}

.macbook-container {
  background-image: url(../../../assets/macbook/curve.svg);
  text-align: center;
  padding-bottom: 134.73px;
  padding-top: 114.73px;
}

.macbook-container img {
  width: 1054.38px;
  vertical-align: top;
}

@media (max-width: 1100px) {
  .macbook-container {
    padding-bottom: 110.56px;
    padding-top: 100.56px;
    padding-left: 19.53px;
    padding-right: 19.53px;
  }
  .macbook-container img {
    width: 900px;
  }
}

@media (max-width: 991.98px) {
  .macbook-container {
    padding-bottom: 100.56px;
    padding-top: 85.56px;
  }
  .macbook-container img {
    width: 700px;
  }
}

@media (max-width: 767.98px) {
  .macbook-container {
    padding-bottom: 86.56px;
    padding-top: 75.56px;
  }
  .macbook-container img {
    width: 536px;
  }
}

@media (max-width: 575.98px) {
  .macbook-container {
    padding-top: 65.56px;
  }
  .macbook-container img {
    width: 100%;
  }
}

.feature .feature-top {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 138.51px;
}

.feature .feature-top h2 {
  margin-top: 17px;
  margin-bottom: 27px;
}

.feature .feature-top div {
  width: 298px;
  margin: auto;
}

.feature .feature-bottom {
  padding-bottom: 153.66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature .feature-bottom .left {
  margin-left: 67.69px;
  margin-right: 94.71px;
}

.feature .feature-bottom .left img {
  width: 949.62px;
  vertical-align: top;
}

.feature .feature-bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature .feature-bottom .right div.content {
  width: 255px;
}

.feature .feature-bottom .right div.content .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53px;
}

.feature .feature-bottom .right div.content .icon-container img {
  width: 43px;
  margin-right: 10px;
}

.feature .feature-bottom .right div.content .icon-container h3 {
  margin: 0;
}

.feature .feature-bottom .right div.content .discription {
  margin: 10px 0px;
}

.feature .feature-bottom .right div.content .discription .myP {
  margin: 0;
}

.feature .feature-bottom .right .content-1 {
  margin-bottom: 75px;
}

@media (max-width: 1399.98px) {
  .feature {
    padding: 0px 16px;
  }
  .feature .feature-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature .feature-bottom .left {
    margin: 0;
  }
  .feature .feature-bottom .right {
    margin-top: 75px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feature .feature-bottom .right .content-1 {
    margin-right: 100px;
    margin-bottom: 0px;
  }
}

@media (max-width: 991.98px) {
  .feature .feature-bottom .left img {
    width: 700px;
  }
}

@media (max-width: 767.98px) {
  .feature .feature-bottom .left img {
    width: 530px;
  }
  .feature .feature-bottom .right .content-1 {
    margin-right: 50px;
  }
}

@media (max-width: 575.98px) {
  .feature .feature-top {
    padding-top: 80px;
    padding-bottom: 66.68px;
  }
  .feature .feature-bottom {
    padding-bottom: 98px;
  }
  .feature .feature-bottom .left img {
    width: 100%;
  }
  .feature .feature-bottom .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature .feature-bottom .right .content-1 {
    margin-bottom: 75px;
    margin-right: 0;
  }
}

@media (min-width: 1441px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.trial {
  text-align: center;
  padding: 100px 0px;
}

.trial h2 {
  margin-top: 17px;
  margin-bottom: 27px;
}

.trial div.info {
  width: 298px;
  margin: auto;
}

.trial .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.trial .buttons .myButton:first-child {
  padding: 18px 31px;
  height: 52px;
  color: #2091f9;
  background-color: #ffffff;
  margin-right: 12px;
}

.trial .buttons .myButton:last-child {
  padding: 15px 44px;
  vertical-align: middle;
  height: 48px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

@media (max-width: 575px) {
  .trial {
    padding: 80px 0px;
    background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
  }
  .trial .buttons {
    margin-top: 69px;
  }
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 216px;
  padding-bottom: 109px;
}

.newsletter .top {
  display: none;
}

.newsletter .top .myH2 {
  margin-top: 17px;
  margin-bottom: 27px;
}

.newsletter .top div.info {
  width: 298px;
  margin: auto;
}

.newsletter .left {
  margin-left: 119px;
  margin-right: 113px;
}

.newsletter .left img {
  vertical-align: top;
}

.newsletter .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter .right .myH2 {
  margin-top: 17px;
  margin-bottom: 35px;
  margin-right: 0.6px;
}

.newsletter .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.newsletter .right div .myInput {
  padding: 19px 39px;
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 39px;
  margin-right: 12px;
  width: 273px;
}

.newsletter .right div .myButton {
  padding: 19px 38px;
}

@media (max-width: 1350px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .left {
    margin-left: 0;
  }
  .newsletter .right {
    width: 353px;
  }
  .newsletter .right div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter .right div .myInput,
  .newsletter .right div .myButton {
    width: 353px;
  }
  .newsletter .right div .myInput {
    width: 353px;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 1200px) {
  .newsletter .left {
    margin-right: 70px;
  }
  .newsletter .left img {
    width: 550px;
  }
}

@media (max-width: 991.98px) {
  .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 81px;
  }
  .newsletter .left {
    margin-right: 0;
  }
  .newsletter .right {
    width: 550px;
    margin-top: 95.25px;
    text-align: center;
  }
  .newsletter .right .myH3 {
    margin-bottom: 10px;
  }
  .newsletter .right div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 575.98px) {
  .newsletter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 114px;
  }
  .newsletter .top {
    text-align: center;
    display: block;
    margin-bottom: 95.25px;
  }
  .newsletter .left {
    padding: 0px 14.5px;
  }
  .newsletter .left img {
    width: 100%;
  }
  .newsletter .right {
    padding: 0px 32.5px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .newsletter .right .myH3:first-child,
  .newsletter .right .myH2 {
    display: none;
  }
  .newsletter .right div .myButton {
    height: 50px;
  }
}

@media (max-width: 417px) {
  .newsletter .right div .myInput,
  .newsletter .right div .myButton {
    width: 100%;
  }
}

@media (min-width: 1441px) {
  .newsletter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter .left {
    margin-left: 0;
  }
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-bottom: 80px;
}

.partners h2 {
  margin-bottom: 27px;
}

.partners .info {
  width: 298px;
  text-align: center;
}

.partners .partner-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 80px;
  padding: 5.27px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners .partner-icons .icon-container {
  padding: 15px;
  margin: 0px 18.5px;
}

.partners .partner-icons .icon-container img {
  vertical-align: top;
}

.partners .partner-icons .icon-container:nth-child(3) {
  padding: 10px 15px;
}

.partners .partner-icons .icon-container:nth-child(5) {
  padding: 12.5px 15px;
}

.partners .myButton {
  width: 236px;
  height: 65px;
  padding: 16px 0px;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

@media (max-width: 575.98px) {
  .partners {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .partners .partner-icons {
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners .partner-icons .icon-container {
    margin: 15px 0px;
  }
  .partners .partner-icons .icon-container:nth-child(3) {
    padding: 15px;
  }
  .partners .partner-icons .icon-container:nth-child(5) {
    padding: 15px;
  }
  .partners .partner-icons .icon-container:nth-last-child(-n + 2) {
    display: none;
  }
}

.Testimonials {
  padding-top: 111px;
  padding-bottom: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Testimonials .users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 335px 335px 335px;
      grid-template-columns: 335px 335px 335px;
  grid-gap: 104px 60px;
  width: 1125px;
  margin-top: 90px;
  margin-bottom: 80px;
}

.Testimonials .users .user {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 335px;
  background: #ffffff;
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.Testimonials .users .user div.image-container {
  margin-bottom: 40px;
}

.Testimonials .users .user div.image-container img {
  width: 149px;
  vertical-align: top;
}

.Testimonials .users .user div.experience {
  padding: 0px 42px;
  margin-bottom: 40px;
}

.Testimonials .users .user div.experience .myP {
  color: #18171d;
}

.Testimonials .users .user div.ratings {
  margin-bottom: 30px;
  padding: 2.43px 0px;
}

.Testimonials .users .user div.ratings img {
  vertical-align: top;
  width: 24.33px;
}

.Testimonials .users .user div.info .myLink {
  color: #18171d;
}

.Testimonials .users .user div.info .myH5 {
  margin: 8.45px 0px;
  color: #18171d;
}

.Testimonials .myButton {
  text-align: center;
  padding: 16px 47px;
  width: 280px;
  height: 65px;
}

@media (max-width: 1150px) {
  .Testimonials .users {
    -ms-grid-columns: 335px 335px;
        grid-template-columns: 335px 335px;
    width: 730px;
  }
  .Testimonials .users .user:nth-last-child(-n + 2) {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .Testimonials .users {
    -ms-grid-columns: 335px;
        grid-template-columns: 335px;
    width: auto;
    padding: 0px 59.05px;
  }
  .Testimonials .users .user:nth-last-child(-n + 2) {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .Testimonials {
    padding-top: 121px;
  }
  .Testimonials .users {
    -ms-grid-columns: 296.91px;
        grid-template-columns: 296.91px;
    grid-gap: 69px 60px;
    width: auto;
    padding: 0px 59.05px;
    margin-top: 108px;
    margin-bottom: 98px;
  }
  .Testimonials .users .user {
    padding: 33.81px 0px;
  }
  .Testimonials .users .user div.image-container {
    margin-bottom: 33.81px;
  }
  .Testimonials .users .user div.image-container img {
    width: 125.96px;
  }
  .Testimonials .users .user div.experience {
    padding: 0px 42.45px;
    margin-bottom: 33.81px;
  }
  .Testimonials .users .user div.ratings {
    margin-bottom: 25.36px;
    padding: 2.06px 0px;
  }
  .Testimonials .users .user div.ratings img {
    vertical-align: top;
    width: 20.57px;
  }
  .Testimonials .users .user div.info .myLink {
    font-size: 12.6802px;
    line-height: 23px;
    letter-spacing: 0.16907px;
  }
  .Testimonials .users .user div.info .myH5 {
    font-size: 10.1442px;
    line-height: 15px;
    letter-spacing: 0.0845349px;
  }
  .Testimonials .users .user .myP {
    font-size: 15.2163px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.16907px;
  }
  .Testimonials .users .user:nth-child(4) {
    display: none;
  }
}

@media (max-width: 417px) {
  .Testimonials .users {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.pricing {
  padding-top: 110px;
  padding-bottom: 100px;
}

.pricing .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .content .left {
  margin-right: 274px;
}

.pricing .content .left .myH1 {
  margin-bottom: 16px;
}

.pricing .content .left .info {
  width: 361px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pricing .content .right .myH4,
.pricing .content .right .price {
  margin-bottom: 16.5px;
}

.pricing .content .right .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .content .right .price .myH1 {
  margin-right: 10px;
}

.pricing .content .right .info {
  width: 218px;
  height: 60px;
  margin-bottom: 19px;
}

.pricing .content .right .myButton {
  height: 52px;
}

@media (max-width: 1199.98px) {
  .pricing .content .left {
    margin-right: 200px;
  }
}

@media (max-width: 991.98px) {
  .pricing .content .left {
    margin-right: 130px;
  }
}

@media (max-width: 767.98px) {
  .pricing .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing .content .left {
    text-align: center;
    margin-right: 0;
    margin-bottom: 102px;
  }
  .pricing .content .right .myButton {
    display: block;
    margin: auto;
  }
}

@media (max-width: 417px) {
  .pricing {
    padding-left: 35px;
    padding-right: 22px;
  }
  .pricing .content .left .info {
    width: 100%;
  }
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 210px;
  padding-bottom: 99px;
}

.contact-us .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-us .top .info {
  width: 318px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 17px;
  margin-bottom: 50px;
  text-align: center;
}

.contact-us .top .icons {
  width: 190.96px;
  height: 60.99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-us .map {
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-us .map iframe {
  width: 871px;
  height: 323.19px;
  vertical-align: top;
}

.contact-us .top,
.contact-us .map,
.contact-us .address {
  margin-bottom: 50px;
}

.contact-us .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us .address .location,
.contact-us .address .phone,
.contact-us .address .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .address .location .info,
.contact-us .address .phone .info,
.contact-us .address .mail .info {
  margin-top: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-us .address .location .info h5,
.contact-us .address .phone .info h5,
.contact-us .address .mail .info h5 {
  text-align: center;
}

.contact-us .address .location {
  margin-right: 15px;
}

.contact-us .address .location img {
  width: 25.33px;
  height: 31.67px;
}

.contact-us .address .location .info {
  width: 228px;
}

.contact-us .address .phone {
  margin-right: 15px;
}

.contact-us .address .phone img {
  width: 20.42px;
  height: 32.08px;
}

.contact-us .address .mail img {
  width: 26.25px;
  height: 20.62px;
}

.contact-us div.contact-form {
  height: 670px;
  width: 868px;
  padding-top: 130px;
  padding-bottom: 52px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.contact-us div.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  width: 100%;
}

.contact-us div.contact-form form .myInput {
  padding: 19px 20px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
}

.contact-us div.contact-form form textarea {
  height: 193px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 23px 20px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  resize: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
}

.contact-us div.contact-form form input[type="submit"] {
  width: 145px;
  height: 52px;
  background-color: #2091f9;
  color: #ffffff;
  border: none;
}

@media (max-width: 991px) {
  .contact-us .map iframe {
    width: 700px;
  }
  .contact-us div.contact-form {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .contact-us .map iframe {
    width: 518px;
  }
  .contact-us div.contact-form {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .contact-us {
    padding-top: 160px;
    padding-bottom: 149px;
  }
  .contact-us .map,
  .contact-us .address {
    margin-bottom: 68px;
  }
  .contact-us .map {
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
  }
  .contact-us .map iframe {
    width: 100%;
  }
  .contact-us .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact-us .address .location,
  .contact-us .address .phone,
  .contact-us .address .mail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-us .address .location .info,
  .contact-us .address .phone .info,
  .contact-us .address .mail .info {
    margin-top: 0;
    margin-left: 10px;
  }
  .contact-us .address .location .info h5,
  .contact-us .address .phone .info h5,
  .contact-us .address .mail .info h5 {
    text-align: start;
  }
  .contact-us .address .location,
  .contact-us .address .phone {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contact-us div.contact-form {
    margin: 0px 20px;
    width: calc(100% - 40px);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 107px 0px;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
}

footer .left .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .left .col .title {
  padding: 10px 0px;
  margin-bottom: 15px;
}

footer .left .col a:not(:last-child) {
  margin-bottom: 16px;
}

footer .left .first {
  width: 171px;
}

footer .left .second,
footer .left .third {
  width: 186px;
}

footer .left .first,
footer .left .second {
  margin-right: 20px;
}

footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 373px;
}

footer .right .icons {
  width: 170.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
}

footer .right .icons img {
  vertical-align: top;
  height: 40.99px;
  width: 40.99px;
}

footer .right .info {
  padding: 0px 10px;
  margin-bottom: 29px;
}

footer .right .info .myH3 {
  margin-bottom: 5px;
}

footer .right div.subscription {
  padding: 0px 10px;
}

footer .right div.subscription .myInput {
  width: 353px;
  height: 54px;
  margin-bottom: 12px;
}

footer .right div.subscription .myButton {
  width: 353px;
  height: 50px;
  margin-bottom: 24px;
}

@media (max-width: 1100px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .left {
    margin-right: 0px;
  }
  footer .right {
    margin-top: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  footer .left .col {
    width: 140px;
  }
}

@media (max-width: 575.98px) {
  footer {
    padding: 73px 0px;
  }
  footer .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .left .col {
    width: 186px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .left .col:not(:last-child) {
    margin-bottom: 73px;
  }
}

@media (max-width: 417px) {
  footer .right {
    width: 100%;
    padding: 0px 22.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .right .info {
    text-align: center;
  }
  footer .right div.subscription .myInput,
  footer .right div.subscription .myButton {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */