.home {
  background: linear-gradient(39.97deg, #00f3b9 0.79%, #2187ff 79.29%);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 47px;
  position: relative;
  div.logo {
    padding: 0px 10px;
    img {
      vertical-align: top;
    }
  }
  nav {
    padding: 17.5px 0px;
    ul {
      margin: 0;
      display: flex;
      list-style: none;
      padding-left: 32px;
      li {
        padding: 0px 10px;
        margin-right: 21px;
        cursor: pointer;
      }
      a.myLink {
        text-decoration: none;
        text-align: center;
        color: $white;
      }
    }
  }
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 33px;
    .email-subscribe-container {
      .myInput {
        border: none;
        margin-right: 12px;
        width: 273px;
      }
      .myButton {
        padding: 19px 38px;
        border: none;
        background-color: $white;
        color: $primary;
      }
    }
    .login {
      display: none;
      .myButton {
        background-color: $white;
        color: $primary;
        width: 117px;
        height: 52px;
      }
    }
    .hamberger {
      display: none;
    }
  }
}
@media (max-width: 1180px) {
  header {
    width: 950px;
    justify-content: space-between;
    margin: auto;
    nav {
      position: absolute;
      // display: none;
      top: 109px;
      height: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 10px;
      padding-right: 10px;
      // transition: height 0.5s ease, padding 0.3s ease;
      width: calc(100% - 10px);
      margin-left: 10px;
      box-sizing: border-box;
      background-color: #ffffffb5;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        li:not(:last-child) {
          margin-bottom: 10px;
        }
        a.myLink {
          color: $black;
        }
      }
    }
    .nav-active {
      transition: height 0.5s ease, padding 0.3s ease;
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      padding: 10px;
      height: 195px;
    }
    .close_transition {
      transition: height 0.5s ease, padding 0.3s ease;
    }
    .end {
      .hamberger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 16px;
        margin-left: 27.67px;
        .line-1 {
          width: 26.67px;
          height: 3px;
          background-color: $white;
        }
        .line-2 {
          width: 20px;
          height: 3px;
          background-color: $white;
        }
        .line-3 {
          width: 12px;
          height: 3px;
          background-color: $white;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    width: 730px;
    .end {
      padding: 0px;
    }
  }
}
@media (max-width: 767px) {
  header {
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
    .end {
      .email-subscribe-container {
        display: none;
      }
      .login {
        display: block;
      }
    }
  }
}
@media (max-width: 575px) {
  header {
    padding-left: 25px;
    padding-right: 22.66px;
    padding-top: 27px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    nav {
      width: calc(100% - 10px - 47.66px);
    }
    div.logo {
      padding-right: 0;
      margin-right: 3px;
    }
    .end {
      padding-left: 0;
      .login {
        display: block;
      }
    }
  }
}
@media (max-width: 418px) {
  header {
    .end {
      .login {
        display: none;
      }
    }
  }
}
